/* Body Section */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

/* Header Section */ 
header {
    margin: 20px;
    color: white;
    height: 100px;
    background: linear-gradient(85deg, rgba(37, 76, 158, 0.829), rgba(67, 67, 110, 0.897));
}

.weather-dashboard {
    margin: 22px 0 0px 0;
}

/* Search Options Section */
#weather-search {
    font-size: 26px;
    text-align: center;
}

.top-line {
    border-top: 2px solid black;
}

.btn-option {
    width: 100%;
    margin-top: 2px;
}

/* Search Option Information Area Section */
.option-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    width: 100%;
    justify-content: center;
}

.list-group-item {
    font-size: 22px;
    font-weight: lighter;
}

.option-info span {
    margin-top: 10px;
    border: none;
}

.option-info p {
    border: none;
}

#current-date {
    justify-content: start;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold; 
}

#current-temp, #current-wind {
    margin-left: 5px;
    font-size: 18px; 
    color: black;
}

#current-icon {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.severe {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: red;
    color: white;
    font-size: 13px;
    font-style: bold;
}

.moderate {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: grey;
    color: white;
    font-size: 13px;
    font-style: bold;
}

.favourable {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: green;
    color: white;
    font-size: 13px;
    font-style: bold;
}

/* 5-Day Forecast Cards Section */
#container {
    margin-bottom: 5px;
    font-size: 18px;
}

.five-day {
    font-size: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    background-color: rgba(67, 67, 110, 0.897);
    color: white;
    margin-right: 10px;
    display: inline-table;
}

.card-body {
    text-align: center;
    align-items: center;
}

#cards-section {
    margin-top: 10px;
}

/* Twitter Timeline Style */
.twitter-div {
    width: 40%;
    height: 80%;
  }
  

/* Responsive Design Begins */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        font-size: 1.2rem;
      }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        font-size: 1.4rem;
      }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    body {
        font-size: 1.6rem;
      }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    body {
        font-size: 1.8rem;
    }
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */