/* Body Section */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

/* Header Section */ 
header {
    margin: 20px;
    color: white;
    height: 100px;
    background: linear-gradient(85deg, rgba(37, 76, 158, 0.829), rgba(67, 67, 110, 0.897));
}

.weather-dashboard {
    margin: 22px 0 0px 0;
}

/* Search Options Section */
.top-line {
    border-top: 2px solid black;
}

.btn-option {
    width: 30px;
    margin-top: 2px;
}

/* Search Option Information Area Section */
.option-info {
    border: 1px solid black;
    height: 15%;
    width: 165%;
    justify-content: center;
}

.list-group-item {
    font-size: 22px;
}

.option-info span {
    margin-top: 10px;
    border: none;
}

.option-info p {
    border: none;
}

#current-date {
    justify-content: start;
    display: flex;
    flex-direction: row-reverse;
}

#current-temp, #current-wind {
    margin-left: 5px;
    font-size: 16px; 
    color: black;
}

.severe {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: red;
    color: white;
    font-size: 13px;
    font-style: bold;
}

.moderate {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: grey;
    color: white;
    font-size: 13px;
    font-style: bold;
}

.favourable {
    border: 0.5px solid black;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20%;
    background-color: green;
    color: white;
    font-size: 13px;
    font-style: bold;
}

/* 5-Day Forecast Cards Section */
.card-header {
    margin-top: 10px;
    border: none;
    background-color: rgb(67, 67, 110);
}

.card-header h3 {
    background-color: rgba(67, 67, 110, 0.897);
    color: white;
}

.card-text p {
    border: none;
}

#cards-section {
    margin-top: 10px;
}

#cards-section div {
    display: flex;
    flex-direction: row;
    background-color: rgba(67, 67, 110, 0.897);
    color: white;
}

.card-body {
    color: white;
    background-color: rgb(67, 67, 110);
    padding: 15px 20px 95px 20px;
    margin-right: 5px;
    margin-top: 10px;
}


/* Responsive Design Begins */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        font-size: 1.2rem;
      }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        font-size: 1.4rem;
      }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    body {
        font-size: 1.6rem;
      }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    body {
        font-size: 1.8rem;
    }
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */